<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme.Base">
        <activity android:name=".ui.MainActivity"
            android:keepScreenOn="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.FrescoActivity" />
        <activity android:name=".ui.FresconActivity" />
        <activity android:name=".ui.FragmentTestActivity" />
        <activity android:name=".ui.GreenDaoActivity" />
        <activity android:name=".ui.SmartRefreshActivity" />
        <activity android:name=".ui.ChartActivity"></activity>
        <activity android:name=".ui.TabLayoutActivity"></activity>
        <activity android:name=".ui.CityPickerActivity"></activity>
        <activity android:name=".ui.ArcProgressActivity"></activity>
        <activity android:name=".ui.MyCoordinatelayoutActivity"></activity>
        <activity android:name=".ui.NotificationActivity"></activity>
        <activity android:name=".ui.JNINativeLibActivity"></activity>

        <service
            android:name=".ui.NotificationService"
            android:exported="false" />
    </application>

</manifest>